/* write your override styles here */
#wall .tag-1 {
  display:none;
}
#wall .parent {
  display:none;
}
html body div#wall #tag-3.slick {
    z-index: 5;
    display: none;
    background: url(../images/tag-3.png) no-repeat;
}
div#wall #tag-4 {
    background: url(../images/tag-4.png) no-repeat;
    z-index: 4;
    display: none;
}